
/* SECTION-A */
#inicio {
    padding: 0;
    overflow: hidden;
    position: relative;
    min-height: 100vh;
    background-image: url('../img/max-768px/main_bg-768px.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;
}
#inicio::before {
    content: "";
    background: rgb(10,14,96);
    background: -moz-linear-gradient(180deg, rgba(10,14,96,1) 0%, rgba(74,21,186,1) 25%, rgba(159,33,190,1) 50%, rgba(186,23,143,1) 75%, rgba(101,9,50,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(10,14,96,1) 0%, rgba(74,21,186,1) 25%, rgba(159,33,190,1) 50%, rgba(186,23,143,1) 75%, rgba(101,9,50,1) 100%);
    background: linear-gradient(180deg, rgba(10,14,96,1) 0%, rgba(74,21,186,1) 25%, rgba(159,33,190,1) 50%, rgba(186,23,143,1) 75%, rgba(101,9,50,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0a0e60",endColorstr="#650932",GradientType=1);
    display: inline-block;
    width: 100%;
    height: 100%;
    opacity: .5;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}
#inicio .content {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
    height: 100%;
}
#logo {
    font-size: 20px;
    color: #FFF;
}
#inicio .nav-wrapper {
    background: #34344a;
    display: inline-block;
    width: 100vw;
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 0 0 5px 2px #00000055;
}
#inicio nav ul {
    display: flex;
}
#inicio nav li {
    padding: 0;
}
#inicio nav a {
    text-decoration: none;
    font-weight: 300;
    color: #FFF;
    text-transform: uppercase;
}
#inicio nav button.pri-btn {
    padding: 8px calc(10% + 7.5px);
    font-weight: 500;
}
#inicio nav a,
#inicio nav button.pri-btn {
    font-size: calc(9px + .25vmax);
}
#main-panel {
    text-align: center;
    margin-top: 17.5vh;
}
#main-panel .box {
    width: fit-content;
    margin: 0 auto;
    padding: calc(20px + 1.25vmax) calc(20px + 1.75vmax);
    position: relative;
}
#main-panel .title {
    font-size: calc(6px + 4.75vmax);
    font-weight: 900;
    margin: 0;
}
#main-panel .subtitle {
    font-style: italic;
    font-size: calc(8px + 5.5vmax);
    font-weight: 200;
}
#main-panel .title,
#main-panel .subtitle {
    color: #fff;
    line-height: 1.1;
    text-shadow: 2px 2px 2px rgba(0,0,0,.125);
}
#main-panel .label {
    font-family: 'Gugi', cursive;
    font-size: calc(6px + 1.5vmax);
    background: #DC136C;
    margin-top: 20px;
    display: inline-block;
    padding: 7.5px 40px;
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%) skewX(-37.5deg);
    box-shadow: 0 2px 3px 1px #DC136C33;
}
#main-panel .label .text {
    color: #FFF;
    display: inline-block;
    transform: skewX(37.5deg);
}
#inicio .info-item,
#inicio .info-row {
    display: flex;
    justify-content: center;
    align-items: center;
}
#inicio .info-row {
    margin: calc(10px + 4.5vh) 0 calc(20px + 3.5vh);
}
#inicio .info-item {
    margin: 0 5%;
}
#inicio .info-item .icon {
    filter: drop-shadow(0px 1px 4px #59C3C3);
    width: calc(20px + 1vmax);
    margin-right: 10px;
}
#inicio .info-item .text {
    font-size: calc(8px + 1vmax);
    color: #FFF;
}
#inicio .box-center {
    margin: 0 auto;
}
#inicio .buttons-row button {
    font-size: calc(8px + .5vmax);
    padding: 12.5px calc(6.25% + 10px);
    margin: 0 1.25%;
}

#inicio #hamburger {
    display: none;
    cursor: pointer;
    user-select: none;
    position: relative;
    background: none;
    height: 30px;
    width: 30px;
    border: none;
    z-index: 100;
    position: fixed;
    top: 12.5px;
    right: 20px;
}
#inicio #hamburger span::before,
#inicio #hamburger span::after {
    transform: translate(-50%, -50%);
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    z-index: -1;
}
#inicio #hamburger span,
#inicio #hamburger span::before,
#inicio #hamburger span::after {
    background: #EBEBEB;
    display: inline-block;
    width: 30px;
    height: 3px;
}

#inicio #hamburger span::before {
    transform: translate(-50%, calc(-50% - 10px));
}
#inicio #hamburger span::after {
    transform: translate(-50%, calc(-50% + 5px));
}