/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
@keyframes bugfix { 
    from { padding: 0; } 
    to { padding: 0; } 
}
body {
    background: #f5f5f5;
    font-family: 'Poppins', sans-serif;
    animation: bugfix infinite 1s; 
}
img {
    width: 100%;
    height: auto;
}
.section {
    padding: 30px;
}

.container {
    max-width: 1100px;
    width: 100%;
}
.space-block {
    margin: 150px 0;
    display: inline-block;
}
.text-center {
    text-align: center;
}
h2.title {
    text-transform: uppercase;
    color: #DC136C;
    font-size: calc(16px + 2vmax);
    position: relative;
    font-weight: 700;
    width: 100%;
    text-align: center;
    margin: calc(25px + 3vmax) 0;
}
h2.title::after {
    content: "";
    display: inline-block;
    width: 100px;
    height: 4px;
    background: #59C3C3;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%, 0);
}

h3 {
    font-size: calc(18px + .75vmax);
    color: #454ADE;
    font-weight: 500;
    margin: 20px 0 10px;
}
h4 {
    font-size: calc(20px + .25vmax);
    font-weight: 500;
    color: #454ADE;
    margin: 5px 0 15px;
}

p {
    color: rgba(52,52,74,0.5);
    line-height: 1.8;
    font-weight: 400;
    font-size: calc(10px + .375vmax);
}

/* COMPONENTS */

/* FLOATING IMAGE BOX */
.floating-image-box {
    position: relative;
    margin: 15px auto 35px;
}
.floating-image-box img {
    width: 100%;
    position: relative;
    /* transition: all 350ms ease-in-out; */
}
.floating-image-box::before {
    content: "";
    background: #454ADE;
    display: inline-block;
    width: 100%;
    height: calc(100% - 10px);
    bottom: -10px;
    left: -15px;
    position: absolute;
    /* transition: all 350ms ease-in-out; */
}
.floating-image-box img,
.floating-image-box::before {
    margin-left: 20px;
    border-radius: 15px;
}

.floating-image-box img,
.floating-image-box .image-container,
.floating-image-box::before {
    box-shadow: -2px 2px 4px 1px rgba(0,0,0,.125);
}

/* CARD */
.card {
    max-width: 305px;
    background: #fff;
    padding: 35px 25px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.05);
    margin: calc(25px + 3vmax) auto;
    text-align: center;
}
.card .floating-image-box {
    max-width: 217.5px;
    height: 175px;
}
.card .floating-image-box .image-container {
    max-width: inherit;
    height: inherit;
    border-radius: 15px;
    overflow: hidden;
}
.card .floating-image-box .image-container img {
    height: 100%;
    width: auto;
    margin: 0 -50%;
}
.card .floating-image-box::before {
    left: -10px;
    margin-left: unset;
    background: rgb(89,195,195);
    background: -moz-linear-gradient(180deg, rgba(89,195,195,0.65) 0%, rgba(69,74,222,0.65) 55%, rgba(220,19,108,0.65) 100%);
    background: -webkit-linear-gradient(180deg, rgba(89,195,195,0.65) 0%, rgba(69,74,222,0.65) 55%, rgba(220,19,108,0.65) 100%);
    background: linear-gradient(180deg, rgba(89,195,195,0.65) 0%, rgba(69,74,222,0.65) 55%, rgba(220,19,108,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#59c3c3",endColorstr="#dc136c",GradientType=1);
}
.card p {
    font-size: calc(11px + .25vmin);
}

/* NEON BORDERS */
.neon-border {
    padding: 10px;
    background-position: top, bottom, left top, right top;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 10px 4px, 30px 4px, 4px 30px, 4px 30px;
}
.neon-border-lg {
    padding: 10px;
    background-position: top, bottom, left top, right top;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 95px 4px, 95px 4px, 4px 65px, 4px 65px;
    border-radius: 25px;
}
.neon-border-purple {
    color: #454ADE;
    box-shadow: 0 0 10px 1px #454ADE, inset 0 0 10px 1px #454ADE;
    background-image: linear-gradient(to right, #454ADE 82.5%, transparent 50%), 
                      linear-gradient(to right, #454ADE 82.5%, transparent 50%), 
                      linear-gradient(to bottom, #454ADE 82.5%, transparent 50%), 
                      linear-gradient(to bottom, #454ADE 82.5%, transparent 50%);
}
.neon-border-cyan {
    color: #59C3C3;
    box-shadow: 0 0 10px 1px #59C3C3, inset 0 0 10px 1px #59C3C3;
    background-image: linear-gradient(to right, #59C3C3 82.5%, transparent 50%), 
                      linear-gradient(to right, #59C3C3 82.5%, transparent 50%), 
                      linear-gradient(to bottom, #59C3C3 82.5%, transparent 50%), 
                      linear-gradient(to bottom, #59C3C3 82.5%, transparent 50%);
}
.neon-border-pink {
    color: #DC136C;
    box-shadow: 0 0 10px 1px #DC136C, inset 0 0 10px 1px #DC136C;
    background-image: linear-gradient(to right, #DC136C 82.5%, transparent 50%), 
                      linear-gradient(to right, #DC136C 82.5%, transparent 50%), 
                      linear-gradient(to bottom, #DC136C 82.5%, transparent 50%), 
                      linear-gradient(to bottom, #DC136C 82.5%, transparent 50%);
}
.neon-border-white {
    color: #EBEBEB;
    box-shadow: 0 0 10px 1px #EBEBEB, inset 0 0 10px 1px #EBEBEB;
    background-image: linear-gradient(to right, #EBEBEB 82.5%, transparent 50%), 
                      linear-gradient(to right, #EBEBEB 82.5%, transparent 50%), 
                      linear-gradient(to bottom, #EBEBEB 82.5%, transparent 50%), 
                      linear-gradient(to bottom, #EBEBEB 82.5%, transparent 50%);
}
/* COUNT */

.count {
    border-bottom: none;
    border-radius: 5px;
    position: relative;
    font-family: 'Gugi', cursive;
    display: inline-block;
    height: fit-content;
    padding: 7.5px 12.5%;
    width: fit-content;
}
.count .value {
    font-size: calc(44px + 3.75vmax);
    color: inherit;
    line-height: 1.25;
}
.count .label {
    font-size: calc(8px + .75vmax);
    color: inherit;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, 0);
    font-weight: 500;
    margin-top: 5px;
    display: inline-block;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, #34344a 25%, #34344a 75%, rgba(0,0,0,0) 100%);
    padding: 12.5px calc(5px + 20%);
}

/* BUTTONS */
button.btn {
    padding: 10px 50px;
    border-radius: 50px;
    text-align: center;
}
button.pri-btn {
    color: #EBEBEB;
    white-space: nowrap;
    font-size: 14px;
    border: none;
    font-weight: 500;
    background: #DC136C;
    text-transform: uppercase;
    background: -moz-linear-gradient(135deg, #DC136C 0%, #b10250 100%);
    background: -webkit-linear-gradient(135deg, #DC136C 0%, #b10250 100%);
    background: linear-gradient(135deg, #DC136C 0%, #b10250 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000",endColorstr="#ff00e8",GradientType=1);
    box-shadow: 0 1px 3px 1px #DC136C55;
}
button.sec-btn {
    background: transparent;
    color: #EBEBEB;
    text-transform: uppercase;
    font-weight: 400;
    border: 2px solid #EBEBEB;
}

button,
a {
    cursor: pointer;
}
ul li {
    list-style: none;
}

/* GRID - LARGE DEVICES */
@media screen and (min-width: 1400px){
    .container {
        width: 1170px;
        max-width: 1170px;
    }
}
@media screen and (min-width: 1680px){
    .container {
        width: 1420px;
        max-width: 1420px;
    }
}


/* SECTION-A */
#inicio {
    padding: 0;
    overflow: hidden;
    position: relative;
    min-height: 100vh;
    background: url('../img/main_bg.png') no-repeat center center, linear-gradient(180deg, rgba(10,14,96,1) 0%, rgba(74,21,186,1) 25%, rgba(159,33,190,1) 50%, rgba(186,23,143,1) 75%, rgba(101,9,50,1) 100%);
    background: url('../img/main_bg.png') no-repeat center center, -moz-linear-gradient(180deg, rgba(10,14,96,1) 0%, rgba(74,21,186,1) 25%, rgba(159,33,190,1) 50%, rgba(186,23,143,1) 75%, rgba(101,9,50,1) 100%);
    background: url('../img/main_bg.png') no-repeat center center, -webkit-linear-gradient(180deg, rgba(10,14,96,1) 0%, rgba(74,21,186,1) 25%, rgba(159,33,190,1) 50%, rgba(186,23,143,1) 75%, rgba(101,9,50,1) 100%);
    background: url('../img/main_bg.png') no-repeat center center, -o-linear-gradient(180deg, rgba(10,14,96,1) 0%, rgba(74,21,186,1) 25%, rgba(159,33,190,1) 50%, rgba(186,23,143,1) 75%, rgba(101,9,50,1) 100%);
    background-size: cover;
}
#inicio::before {
    content: "";
    background: rgb(10,14,96);
    background: (180deg, rgba(10,14,96,1) 0%, rgba(74,21,186,1) 25%, rgba(159,33,190,1) 50%, rgba(186,23,143,1) 75%, rgba(101,9,50,1) 100%);
    background: (180deg, rgba(10,14,96,1) 0%, rgba(74,21,186,1) 25%, rgba(159,33,190,1) 50%, rgba(186,23,143,1) 75%, rgba(101,9,50,1) 100%);
    background: linear-gradient(180deg, rgba(10,14,96,1) 0%, rgba(74,21,186,1) 25%, rgba(159,33,190,1) 50%, rgba(186,23,143,1) 75%, rgba(101,9,50,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0a0e60",endColorstr="#650932",GradientType=1);
    display: inline-block;
    width: 100%;
    height: 100%;
    opacity: .5;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}
#inicio .content {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
    height: 100%;
}
#logo {
    font-size: 20px;
    color: #FFF;
}
#inicio .nav-wrapper {
    background: #34344a;
    display: inline-block;
    width: 100vw;
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 0 0 5px 2px #00000055;
}
#inicio nav ul {
    display: flex;
}
#inicio nav li {
    padding: 0;
}
#inicio nav a {
    text-decoration: none;
    font-weight: 300;
    color: #FFF;
    text-transform: uppercase;
}
#inicio nav button.pri-btn {
    padding: 8px calc(10% + 7.5px);
    font-weight: 500;
}
#inicio nav a,
#inicio nav button.pri-btn {
    font-size: calc(9px + .25vmax);
}
#main-panel {
    text-align: center;
    margin-top: 17.5vh;
}
#main-panel .box {
    width: fit-content;
    margin: 0 auto;
    padding: calc(20px + 1.25vmax) calc(20px + 1.75vmax);
    position: relative;
}
#main-panel .title {
    font-size: calc(6px + 4.75vmax);
    font-weight: 900;
    margin: 0;
}
#main-panel .subtitle {
    font-style: italic;
    font-size: calc(8px + 5.5vmax);
    font-weight: 200;
}
#main-panel .title,
#main-panel .subtitle {
    color: #fff;
    line-height: 1.1;
    text-shadow: 2px 2px 2px rgba(0,0,0,.125);
}
#main-panel .label {
    font-family: 'Gugi', cursive;
    font-size: calc(6px + 1.5vmax);
    background: #DC136C;
    margin-top: 20px;
    display: inline-block;
    padding: 7.5px 40px;
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%) skewX(-37.5deg);
    box-shadow: 0 2px 3px 1px #DC136C33;
}
#main-panel .label .text {
    color: #FFF;
    display: inline-block;
    transform: skewX(37.5deg);
}
#inicio .info-item,
#inicio .info-row {
    display: flex;
    justify-content: center;
    align-items: center;
}
#inicio .info-row {
    margin: calc(10px + 4.5vh) 0 calc(20px + 3.5vh);
}
#inicio .info-item {
    margin: 0 5%;
}
#inicio .info-item .icon {
    filter: drop-shadow(0px 1px 4px #59C3C3);
    width: calc(20px + 1vmax);
    margin-right: 10px;
}
#inicio .info-item .text {
    font-size: calc(8px + 1vmax);
    color: #FFF;
}
#inicio .box-center {
    margin: 0 auto;
}
#inicio .buttons-row button {
    font-size: calc(8px + .5vmax);
    padding: 12.5px calc(6.25% + 10px);
    margin: 0 1.25%;
}

#inicio #hamburger {
    display: none;
    cursor: pointer;
    user-select: none;
    position: relative;
    background: none;
    height: 30px;
    width: 30px;
    border: none;
    z-index: 100;
    position: fixed;
    top: 12.5px;
    right: 20px;
}
#inicio #hamburger span::before,
#inicio #hamburger span::after {
    transform: translate(-50%, -50%);
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    z-index: -1;
}
#inicio #hamburger span,
#inicio #hamburger span::before,
#inicio #hamburger span::after {
    background: #EBEBEB;
    display: inline-block;
    width: 30px;
    height: 3px;
}

#inicio #hamburger span::before {
    transform: translate(-50%, calc(-50% - 10px));
}
#inicio #hamburger span::after {
    transform: translate(-50%, calc(-50% + 5px));
}

#photos-list {
    position: relative;
    margin: 0;
    line-height: 0;
}
#photos-list::after {
    content: "";
    background: rgb(10,14,96);
    background: -moz-linear-gradient(180deg, rgba(10,14,96,1) 0%, rgba(74,21,186,1) 25%, rgba(159,33,190,1) 50%, rgba(186,23,143,1) 75%, rgba(101,9,50,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(10,14,96,1) 0%, rgba(74,21,186,1) 25%, rgba(159,33,190,1) 50%, rgba(186,23,143,1) 75%, rgba(101,9,50,1) 100%);
    background: linear-gradient(180deg, rgba(10,14,96,1) 0%, rgba(74,21,186,1) 25%, rgba(159,33,190,1) 50%, rgba(186,23,143,1) 75%, rgba(101,9,50,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0a0e60",endColorstr="#650932",GradientType=1);
    display: inline-block;
    width: 100%;
    height: 100%;
    opacity: .35;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}
#photos-list li {
    padding: 0;
}
#photos-list .image-box {
    max-height: 250px;
    overflow: hidden;
}

/* evento */
.floating-box-list li {
    margin: calc(45px + 3vmax) auto;
}
.floating-box-list li:nth-child(2n + 2) .float-box { 
    flex-direction: row-reverse; 
}
.floating-box-list li :nth-child(2n + 2) img { 
    margin-left: 20px; 
}

.float-box.purple h3 { color: #454ADE }
.float-box.purple .floating-image-box::before { background: rgba(69, 74, 222, .75) }

.float-box.cyan h3 { color: #59C3C3 }
.float-box.cyan .floating-image-box::before { background: rgba(89, 195, 195, .75) }

.float-box.pink h3 { color: #DC136C }
.float-box.pink .floating-image-box::before { background: rgba(220, 19, 108, .75) }

/* SECTION-C */
.card-list::after {
    content: "";
    flex: auto;
  }
.card-list li {
    padding: 0 5px;
}


/* SECTION-D */
#section-d {
    background: #34344a;
    text-align: center;
}
#section-d h2.title {
    color: #EBEBEB;
}
#section-d h2.title::after {
    background: #DC136C;
}
#section-d .count-list li {
    padding: 0;
}
#section-d .count-list {
    margin: 75px ;
}
#section-d button.pri-btn {
    margin: 0 auto;
    font-size: 22px;
    padding: 15px 0;
    width: 100%;
    max-width: 400px;
    margin-bottom: 75px;
    
}

#section-e {
    background: #59C3C3;
    width: 100%;
}
#section-e .container .social-media {
    margin-left: 0;
    margin-right: 0;
}
#section-e .container .social-media > div {
    padding: 0;
}

#section-e img.icon {
    width: 48px;
    padding: 10px;
    border-radius: 20px;
    background: #DC136C;
    color: #EBEBEB;
    cursor: pointer;
}
.website-map ul li {
    margin: 0 auto;
}
.website-map ul li a {
    font-size: 20px;
    text-decoration: none;
}
.website-map ul,
.icon-list {
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
}
.icon-list {
    justify-content: flex-end;
}
.icon-list li {
    margin: 0 10px;
}
#section-e li a {
    color: #454ADE;
    text-transform: uppercase;
    font-weight: 500;
}
#section-e h2 {
    color: #454ADE;
    margin: 0 0 10px;
}


/* ANIMATIONS */
.floating-box-list li:nth-child(2n + 1) .float-box {
    animation: fade-out-left 2s;
}
.floating-box-list li:nth-child(2n + 2) .float-box {
    animation: fade-out-right 2s;
}

@keyframes fade-out-right {
    0% { 
        margin-left: 100px;
        opacity: 0;
    }
    100% {
        margin-left: -15px;
        opacity: 1;
    }
}


@keyframes fade-out-left {
    0% { 
        margin-right: 100px;
        opacity: 0;
    }
    100% {
        margin-right: -15px;
        opacity: 1;
    }
}


@media screen and (max-width: 520px) {
    #links {
        display: none;
    }
    #inicio .buttons-row button {
        width: 80%;
        margin-bottom: 10px;
    }
    .floating-box-list li:nth-child(2n + 2) .floating-image-box img,
    .floating-box-list li .floating-image-box img {
        margin-left: 10px;
    }
    .floating-box-list li:nth-child(2n + 2) .floating-image-box::before,
    .floating-box-list li .floating-image-box::before {
        left: 10px;
        margin-left: -10px;
        bottom: -5px;
    }
}

@media screen and (max-width: 768px) {
    #inicio nav .logo-container {
        padding: 0;
    }
    #inicio nav {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 0 40px;
        margin: 0;
    }
    #inicio #hamburger {
        display: inline-block;
    }

    input[type="checkbox"]:checked + nav {
        flex-flow: row wrap !important;
    }
    input[type="checkbox"]:checked + nav #links {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0;
        height: 100vh;
        width: 200px;
        margin: 0;
        display: inline-block;
        padding-top: 50px;
        background: #454ADE;
        z-index: 90;
    }
    
    input[type="checkbox"]:checked + nav #links ul {
        flex-flow: column nowrap;
        height: 20%;
        justify-content: center;
        margin-top: 70%;
        margin-right: 0;
        margin-left: 0;
    }
    
    input[type="checkbox"]:checked + nav #links li {
        width: 100%;
        flex: auto;
        max-width: unset;
    }
    input[type="checkbox"]:checked + nav #links li:last-child {
        position: absolute;
        bottom: 30px;
    }

    input[type="checkbox"]:checked + nav #links li button,
    input[type="checkbox"]:checked + nav #links li a {
        font-size: 14px;
    }
    #links {
        display: none;
    }
    #evento ul.floating-box-list li .floating-image-box {
        max-width: 360px;
    }
    #evento ul.floating-box-list li {     
        justify-content: center;
        text-align: center;
    }

    #section-d .container {
        padding: 0;
    }

    #section-d .count-list {
        margin: 75px 0;
    }
   
    #section-e {
        text-align: center;
    }
    .website-map ul {
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }
    #section-e .website-map li {
        margin: 10px 0;
        font-size: 1.5em;
    }
    #section-e .icon-wrapper {
        text-align: left;
    }
    #section-e .site-description {
        flex-flow: column-reverse nowrap;
    }
    #section-e .site-description .info {
        margin: 50px 0;
    }
}

@media screen and (min-width: 768px){

    #evento ul.floating-box-list li .float-box {
        justify-content: space-between;
    }
}